.cardCss{
  width: 400px;
  height: 500px;
}

.cardCss img {
  width: 398px;
  height: 350px;
  object-fit: cover
}

.cardCss:hover {
    transform: scale(1.05);
  }
  
  .cardCss:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }