.jumbotron {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

#imgCardHome {
  width: 100px;
  height: auto;
  max-height: 100px;
}

.cardHome {
  position: relative;
  width: 21.875em;
  box-shadow: 0px 1px 13px rgba(255, 255, 255, 0.164);
  box-sizing: border-box;
  cursor: pointer;
  transition: all 120ms;
  align-items: center;
  justify-content: center;
}

.cardHome:hover {
  transform: scale(1.01);
}

.underline {
  text-decoration: none;
}

.underline:hover {
  text-decoration: none;
}
