.body {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.title {
    font-family: "Red Hat Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }